:root {
  --white-1: #e6ddf9;
  --white-2: #ece1fa;
  --light-blue-1: #7f50e4;
  --light-blue-2: #4c05d0;
  --post-bg-color: #9c7eee;
  --post-author: #543280;
  --post-content-text: #593884;
  --button-bg-1: #a990fb;
  --button-text-1: #2a2630;
  --button-hover-1: #8c6cf7;
}
